<mat-card class="example-card">
  <mat-card-header *ngFor="let i of [2,3,4,5,6]" class="card">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>User {{i}}</mat-card-title>
    <mat-card-subtitle>Message {{i}} Message {{i}} Message {{i}} Message {{i}} Message {{i}} Message {{i}} Message
      {{i}} Message {{i}} Message {{i}} Message {{i}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider class="example-mat-divider"></mat-divider>
  <mat-card-actions>
    <br>
    <mat-form-field class="example-form-field">
      <input matInput type="text" placeholder="Clearable input" [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Send" (click)="send()">
      <mat-icon>send</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>