.example-card {
    width: 400px;
    margin: auto auto;
    position: relative;
    top: 20%;
    /* margin : 20px 50px 0px 50px; */
    background: rgb(242, 246, 252)
  }
  
  .example-header-image {
    background-image: url('../assets/robot.png');
    background-size: cover;
    background-color: lightgray;
    margin-right: 20px;
    
  }

  .example-form-field {
    width: 350px;
    margin-left: 20px
  }

  .messages-container{
    height: 350px;
    overflow: auto;
  }

  .message{
    margin-bottom: 20px;
    margin-top : 20px;
  }

  .hr{
    border: none;
    height: 1px; 
    background-color: rgba(0,0,0,.12)
  }
